.enquiry{
    height:500px;
    /* background-image: url(https://www.freepik.com/free-photo/stronger-young-muscular-caucasian-athlete-practicing-lunges-gym-with-barbell-male-model-doing-strength-exercises-training-his-lower-body-wellness-healthy-lifestyle-bodybuilding-concept_15075304.htm#page=3&query=exercise&position=30&from_view=search&track=sph); */
    background-image: url(https://images.unsplash.com/photo-1536922246289-88c42f957773?auto=format&fit=crop&q=80&w=1504&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url(https://img.freepik.com/free-photo/buddha-bowl-dish-with-vegetables-legumes-top-view_1150-42589.jpg?w=740&t=st=1698937600~exp=1698938200~hmac=8ca16920de52497b4f09f24ecfe81a6bdebaf5ec642f16e28d760dc32da35f8e); */
    background-size: cover;
    width:100%;
}

.enquiry_form{
    height:400px;
    width:45%;
    background-color: rgb(255, 115, 0);
    margin: 30px 30px;
    border:1px solid rgb(255, 115, 0);
    border-radius: 15px;
}

.form_row1{
    height:70px;
    display: flex;
    margin: 20px;
    justify-content: space-around;
    /* background-color: palevioletred; */
    align-items: center;
}

#name,#email{
    height:30px;
    border: 2px solid white;
    border-radius: 10px;
    /* border-radius: 15px;; */
}


.form_row2{
    height:70px;
    display: flex;
    margin: 20px;
    justify-content: space-around;
    /* background-color: palevioletred; */
    align-items: center;

}

#phone,#city{
    height:30px;
    border: 2px solid white;
    border-radius: 10px;
    /* border-radius: 15px;; */
}

.form_row3{
    height:80px;
    display: flex;
    margin: 20px;
    justify-content: space-around;
    /* background-color: palevioletred; */
    align-items: center;

}

#message{
    width:80%;
    height:70px;
    border: 2px solid white;
    border-radius: 10px;

}

#send_btn{
    height:40px;
    /* width: 50px; */
    color:rgb(255, 115, 0);
    margin-left: 40%;
    border: 2px solid white;
    border-radius: 10px;
    /* background-color: palevioletred; */
    /* align-items: center; */

}

.footer{
    height:250px;
    background-color: rgb(255, 115, 0);
    color: black;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.footer_1{
    height:200px;
    width:300px;
    color: black;
    /* background-color: pink; */
    
    
}
.footer_2{
    height:200px;
    width:300px;
    color: black;
    /* background-color: pink; */
    
}
#heading_f{
    color:white;
} 
#contact{
    margin-top: 30px;
    color:white;
}

#centers{
    /* margin-top:30px ; */
}
.copy_rights{
    height:50px;
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-left: 1000px;
}