.cardData {
    height: 230px;
    background-color: #FFA559;
    width: 330px;
    border-radius: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; */
}

/* .cardContentdata {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    height:100px;
    width:100px;
    background-color: aqua;
} */