.community {
    background-color: rgb(184, 184, 248);
    height: 645px;
    display: flex;
    /* justify-content:space-between; */
}

.left {
    background-color: rgb(255, 115, 0);
    width: 40%;
}
.heading_comm{
    color:white

}

.right {
    width: 60%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* display: flex;
    justify-content: center;     */
    /* align-items: center; */

}
.rightContent{
    height:300px;
    width:300px;
    background-color: rgb(255, 115, 0);
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    border-radius: 25px;
    
}
/* a{
    border: 2px solid white;
    padding: 5px;

} */
