.pagesData{
    background-color: pink;
    height:530px;
}
.pageContent{
    display: flex;
    height:500px;
    justify-content: space-around;
    margin-top:50px;
}
#pagesHead{
    color:black;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#content1{
    width:400px;
    height:400px;
    text-align:justify;
    color:black;

}
#content2{
    height:400px;
    width:400px;
    border-radius: 10px;
}