.cardData {
    height: 230px;
    background-color: #FFA559;
    width: 330px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}