.pages{
    /* height:600px; */
    color:black;
}
.pageContent{
    display: flex;
    height:500px;
    justify-content: space-around;
    margin-top:50px;
}
#pagesHead{
    color:black;
    margin-top: 30px;
}
#content1{
    /* height:400px; */
    width:400px;
    color:black;

}
#content2{
    height:400px;
    width:400px;
}