
.classes_1{
    height: 400px;
    margin-top: 30px;
    color: black;
}
.class_head{
    color: black;
}
.classes_2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.class_desc{
    width:500px;
    text-align: justify;
    color: black;
}
.class_img{
    height:300px;
    width:300px;
}