.navbar {
    height: 90px;
    width: 100%;
    /* margin: 0 auto; */
    background-color: rgb(255, 115, 0);
    /* background-image:url(C:\Users\Shree\Desktop\fitness_app\fitness_app\src\Components\Images\Home.jpg) ; */
    background-size: cover;
    backdrop-filter: blur(10px);
    z-index: 1;


}
/* .navhead{
    background-color: pink;
    display: flex;
    align-items:flex-start;
} */