
.amenities{
    /* color:black; */
    height:300px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    /* background: linear-gradient(180deg, #454545, #FF6000); */
}