.aboutUs{
    color: black;
    height:645px;
    background-color: palevioletred;
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
}
.aboutText{
    height: 400px;
    width: 500px;
    background-color: pink;
    margin: 200px 0 0 0 ;

}
.aboutText2{
    height: 200px;
    width: 500px;
    background-color: rgb(206, 86, 106);
    margin: 400px 0 0 40px;
}
#aboutimg{
    
        width: 500px;
        height: 500px;
        border-radius: 0 20% 0 0;
        margin:  30px 40px  0 0 ;
      
}

h1{
    font-size: 100px;
}